
.calendar-container{
    justify-self: center;
    align-self: center;
    position: relative;
    margin: 0% 2% 1% 2%;
    /* border: 0.5px solid black; */
    border-radius: 12px;
    padding: 0%;
    width: 45%;
    height: 95%;
}

.calendar-info-container{
    /* border: 0.5px solid black; */
    display: flexbox;
    margin-bottom: 2%;
    align-items: center;
}

.fa-calendar{
    color: white;
    display: inline;
    font-size: 3.5em;
    margin: 1% 3% 1% 0%;
}

.calendar-month {
    display: inline;
    margin: 1% 3% 0% 3%;
    font-size: 3em;
    font-weight: 600;
}

.calendar-month:hover {
    cursor: pointer;
    text-decoration: underline;
}
    

.cal-btn{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    color: #ffffff60;
    font-size: 24px;
}

.cal-btn:hover{
    color: #b22452;
}

.calendar-wrapper {
    /* border: 0.5px solid black; */
    display: flex;
    width: 100%;
    height: 89%;
}

.calendar-table {
    margin-top: 5%;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.calendar-thead th {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.calendar-thead th:first-child {
    color:rgb(231, 15, 15);
}

.calendar-thead th:nth-child(7) {
    color:rgb(36, 36, 207);
}

.calendar-tbody td {
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.calendar-tbody td > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.calendar-tbody td > div > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30%;
    cursor: pointer;
}

.calendar-tbody td > div > span:hover {
    background-color: #ffffff30;
    border-radius: 50%;
    color: white;
}

.calendar-tbody td > div > span.select{
    background-color: #ffffff60;
    border-radius: 50%;
    width: 70%;
    height: 40%;
    text-shadow: 1px 1px 10px black;
    color: white;
}

.calendar-month.select{
    cursor: pointer;
    text-shadow: 1px 1px 4px white;
}


