@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
* {
    box-sizing: border-box;
    font-size: 0.875em;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    
}

.root{
    /* border: 2px solid white; */
    border-radius: 12px;
    width: 97vw;
    height: 100vh;
    overflow:hidden;
}

.sidebar{
    display: inline;
    position: relative;
    background-color: #00000000;
    display: inline-block;
}

.fa-bars{
    font-size: 40px;
}

.sidebar-toggle-button {
    width: 80px;
    height: 80px;
    background-color: #00000000;
    border: 0px;
    cursor: pointer;
}

.container {
    position: relative;
    margin: 0px 80px 0px 80px;
    padding: 0px;
    /* border: 0.5px solid black; */
    border-radius: 12px;
    width: 95%;
    height: 90%;
}

.main-container {
    display: flex;
    margin-right: 10px;
    width: 100%;
    height: 100%;
}


