.todo-container{
    justify-self: center;
    align-self: center;
    position: relative;
    margin: 0% 0% 0% 2%;
    /* border: 0.5px solid black; */
    border-radius: 12px;
    width: 50%;
    height: 95%;
}

.todo-title {
    margin: 0% 0% 3% 0%;
    font-size: 3.5em;
    cursor: default;
    font-weight: 700;
}

.todolist-header-items{
    display: flex;
    padding: 0px;
    border: 1px solid #ffffff80;
    border-radius: 5px;
    margin: 40px 0px 60px 0px;
    width: 90.5%;
    height: 60px;
}

.todolist-header-items:focus{
    border: 1px solid #ffffff;
    
}

.text-input {
    border:0px;
    padding: 2% 1% 2% 2%;
    background-color: #00000000;
    width: 100%;
    height: 100%;
    font-size: 28px;
}

.text-input:focus::placeholder {
    color:transparent;
}

.text-input::placeholder {
    color: white;
    font-style: italic;
    font-size: 28px;
    text-align: left;
    justify-content: center;
  }

.todolist-main-container{
    width: 100%;
    height: 66.5%;
    list-style-type: none;
    overflow-y: scroll;
}

.todolist-main-container::-webkit-scrollbar {
    width: 4px;
    cursor: pointer;
}

.todolist-main-container::-webkit-scrollbar-thumb {
    background-color: #ffffff30;
    border-radius: 4px;
    cursor: pointer;
}

.todolist-items{
    display: flex;
    margin-bottom: 4%;
}

.item-left{
    display: inline;
    margin-right: 4%;
    width: 5%;
    height: 6.6%;
    cursor: pointer;
    padding-top: 1%
}

.complet-chkboxs {
    display: none;
}

/* 인접형제선택자중 label 찾음 */
.complet-chkboxs + i {
    font-size: 36px;
    font-weight: 500;
    color:#ffffff80;
}

/* 체크된 .complet-chkboxs 중 인접형제 label에 after */
.complet-chkboxs:checked + i::after {
    
}

.fa-square{

}

.item-center{
    display: flex;
    margin: 0px;
    border: 1px solid #ffffff60;
    border-radius: 6px;
    width: 90%;
    height: 4%;
}

.todolist-content{
    margin: 10px 0px 5px 10px;
    width: 100%;
    height: 100%;
    font-size: 1.7em;
    font-weight: 400;
}

.todolist-date{
    white-space: nowrap;
    margin: 3.5% 2% 0% 2%;
    cursor:default;
    color: #ffffff80;
    font-size: 16px;
}

.edit-button{
    padding-top: 1%;
    width: 9%;
    cursor: pointer;
}

.fa-pen{
    margin: 30% 25% 25% 25%;
    font-size : 16px;
    color:#ffffff70;
}

.fa-pen:hover{
    color: #b22452;
}

.item-right{
    margin: 0.5% 3% 0% 2%;
    width: auto;
    height: 6.6%;
    cursor: pointer;
}


.fa-xmark{
    margin: 25% 30% 25% 20%;
    font-size: 32px;
    color:#ffffff70;
}

.fa-xmark:hover{
    color:#b22452;
}

.todo-current {
    display: flex;
    margin-top: 2%;
    padding-right: 2%;
    width: 100%;
    height: 100%;
    font-size: 18px;
    align-items: center;
}

.remaining-todo {
    white-space: nowrap;
    justify-content: center;
    text-align: left;
}

.todo-view{
    text-align: center;
    justify-content: center;
    width: 100%;
}

.view-all:hover{
   color:#b22452;
}

.view-active{
    margin: 0% 5% 0% 5%;
}

.view-active:hover{
    color:#b22452;
 };

.view-completed{

}

.view-completed:hover{
    color:#b22452;
 };

.clear-completed{
    white-space: nowrap;
    text-align: right;
}

.clear-completed:hover{
    color:#b22452;
 };