.todo-title {
    margin: 0% 0% 3% 0%;
    font-size: 3.5em;
    cursor: default;
    font-weight: 700;
}

.todolist-header-items{
    display: flex;
    padding: 0px;
    border: 1px solid #ffffff80;
    border-radius: 5px;
    margin-bottom: 40px;
    width: 90%;
    height: 60px;
}

.todolist-header-items:focus{
    border: 1px solid #ffffff;
    
}

.text-input {
    border:0px;
    padding: 17px 5px 15px 15px;
    background-color: #00000000;
    width: 100%;
    height: 100%;
    font-size: 28px;
}

.text-input:focus::placeholder {
    color:transparent;
}

.text-input::placeholder {
    color: white;
    font-style: italic;
    font-size: 28px;
    text-align: left;
    justify-content: center;
  }

.todolist-plus-icon{
    display: absolute;
    top: 10%;
    bottom: 20%;
    left: 10%;
    right: 10%;
    padding: 1% 1% 1% 1%;
    background-color: transparent;
    border: 0px;
}

.fa-plus {
    font-size: 32px;
    color:#ffffff70
}

.fa-plus:hover {
    color:#b22452
}
.todolist-main-container{
    border-radius: 5px;
    width: 100%;
    height: 75%;
    padding: 0% 0% 2% 0%;
    list-style-type: none;
    overflow-y: scroll;
}

.todolist-main-container::-webkit-scrollbar {
    margin-right: 10px;
    width: 5px;
    cursor: pointer;
}

.todolist-main-container::-webkit-scrollbar-thumb {
    background-color: #ffffff30;
    border-radius: 3px;
    cursor: pointer;
}

.todolist-items{
    display: flex;
    margin-bottom: 4%;
}

.item-left{
    display: inline;
    margin-right: 4%;
    width: 5%;
    height: 6.6%;
    cursor: pointer;
}

.fa-square{
    font-size: 36px;
    font-weight: 500;
    color:#ffffff80;
}

.item-center{
    display: flex;
    margin: 0px;
    border: 1px solid #ffffff60;
    border-radius: 6px;
    width: 90%;
    height: 40px;
}

.todolist-content{
    margin: 10px 0px 5px 10px;
    width: 100%;
    height: 100%;
    font-size: 20px;
}
.todolist-date{
    margin: 2.5% 2% 0% 2%;
    cursor:default;
    color: #ffffff80;
    font-size: 16px;
}

.edit-button{
    margin-bottom: 5px;
    width: 10%;
    height : 100%;
    cursor: pointer;
}

.fa-pen{
    margin: 30% 25% 25% 25%;
    font-size : 16px;
    color:#ffffff70;
}

.fa-pen:hover{
    color: #b22452;
}

.item-right{
    margin: 0% 3% 0% 3%;
    width: auto;
    height: 6.6%;
    cursor: pointer;
}


.fa-xmark{
    margin: 25% 30% 25% 20%;
    font-size: 28px;
    color:#ffffff70;
}

.fa-xmark:hover{
    color:#b22452;
}

.todo-current {
    display: flex;
    padding: 0% 3% 0% 3%;
    width: 100%;
    height: 100%;
    font-size: 18px;
    align-items: center;
}

.remaining-todo {
    white-space: nowrap;
    
    justify-content: center;
}

.todo-view{
    text-align: center;
    justify-content: center;
    width: 100%;
}

.view-all{

}

.view-active{
    margin: 0% 5% 0% 5%;
}

.view-completed{

}

.clear-completed{
    text-align: right;
}