.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff50;
}
.modal-container {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  background-color: #fafafa;
}

.modal-header {
  border-bottom: 1.5px solid #dbdbdb;
  padding: 15px 20px;
  width: 100%;
}

.modal-title {
  text-align: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  color:black
}

.modal-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  padding: 20px;
  width:320px;
  height:150px;

}

.modal-message {
  width: 100%;
  text-align: center;
  font-size: 18px;
  /* 자동줄바꿈 */
  word-wrap: break-word;
  color:black;
}
.modal-main > *:not(modal-main :nth-last-child(1)) {
  margin-bottom: 30px;
}

.date-input {
  font-size: 20px;
  color: black;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 20px;
  width: 300px;
}

.modal-footer .btn {
  color:black;
  size: 10%;
}
/* 뒤에서 첫번째가 아닌 녀석들한테만 */
.modal-footer .btn:not(.modal-footer :nth-last-child(1)) {
  margin-right: 5px;
}

